<!--<div class="row justify-content-center">-->

  <div class="card">


    <div class="card-body">
      <div class="row">
        <div class="col-6"><img class=" card-img-top" src="assets/insurances/vseobecna.jpg" alt="Card image cap"></div>
        <div class="col-6"><img class=" card-img-top" src="assets/insurances/dovera.png" alt="Card image cap"></div>
        <div class="col-6"><img class=" card-img-top" src="assets/insurances/union.jpg" alt="Card image cap"></div>
        <!--<div class="col-6"><img class=" card-img-top" src="assets/vseobecna.jpg" alt="Card image cap"></div>-->
        <!--<div class="col-6"><img src="assets/vseobecna.jpg" alt="Card image cap">-->
        <!--</div>-->
        <!--<tr>-->
        <!--<td><img class="" src="assets/vseobecna.jpg" alt="Card image cap"></td>-->
        <!--<td><img class="" src="assets/vseobecna.jpg" alt="Card image cap"></td>-->
        <!--</tr>-->
      </div>
      <!--<p class="card-text text-center">Vseobecna zdravotna poistovna</p>-->
    </div>
    <div class="card-footer text-muted">
      <button class="btn btn-primary fa fa-pencil float-right"> Edit</button>
    </div>
  </div>
<!--</div>-->
