<main role="main" class="container">
  <br>
  <br>
  <br>
  <br>
  <div class="content">
    <div class="animated fadeIn">
      <div class="row">
        <div id="error"></div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-12">
          <!--bootstrap card - karta; today steps high score -->
          <app-pending-examinations></app-pending-examinations>
          <app-actual-drugs></app-actual-drugs>
        </div>
        <div class="col-lg-6 col-12">
          <app-last-examinations></app-last-examinations>
          <!--<app-ask-fo-online-help></app-ask-fo-online-help>-->
        </div>


      </div>


    </div>
  </div>
</main>
