<br>
<br>
<br>
<br>


<div class="tp-wrapper">
  <div class="tp-box" (click)="toggleFlip()" [@flipState]="flip">
    <div class="tp-box__side tp-box__front">Front
    </div>
    <div class="tp-box__side tp-box__back">Back
    </div>
  </div>
</div>

<!--obsah stranky-->
<div class="d-none d-lg-block">
  <h1 class="text-center">Smart Doctor</h1>

</div>

<div class="content">
  <div class="animated fadeIn">
    <div class="row">

      <!--mensi stlpec-->
      <div class="col-lg-4">

      </div><!-- /# column -->

      <div class="col-lg-4">
        <div class="flip-container" id="fc">
          <div class="flipper">
            <div class="front">
              <div class="login-form ">
                <form (ngSubmit)="onSubmit()" #heroForm="ngForm">

                  <!--<div class="form-group">-->
                  <!--<label for="alterEgo">Password</label>-->
                  <!--<input type="password" class="form-control" id="alterEgo"-->
                  <!--[(ngModel)]="model.alterEgo" name="alterEgo" #passwordId>-->
                  <!--</div>-->


                  <!--<button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid"-->
                  <!--(click)="sendLoginRequest(nameId.value, passwordId.value)">Login-->
                  <!--</button>-->
                  <!--&lt;!&ndash;<button type="button" class="btn btn-default" (click)="newHero(); heroForm.reset()">New Hero</button>&ndash;&gt;-->
                  <!--</form>-->

                  <div class="avatar">
                    <img src="assets/avatar.png" alt="Avatar">
                  </div>
                  <h2 class="text-center">Member Login</h2>
                  <div id="error"></div>
                  <div class="form-group">
                    <label for="name">Email</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><span class="fa fa-user"></span>
                        </div>
                      </div>

                      <input type="text" class="form-control" id="name" #nameId
                             required
                             [(ngModel)]="model.name" name="name"
                             #name="ngModel">
                    </div>


                    <div [hidden]="name.valid || name.pristine"
                         class="alert alert-danger">
                      Name is required
                    </div>
                  </div>

                  <div class="form-row align-items-center">
                    <div class="col-12">
                      <label class="sr-only" for="alterEgo">Password</label>
                      <label for="name">Password</label>

                      <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text"><span class="fa fa-key"></span>
                          </div>
                        </div>
                        <input type="password" class="form-control" id="alterEgo"
                               [(ngModel)]="model.alterEgo" name="alterEgo" #passwordId placeholder="Password">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="!heroForm.form.valid"
                            (click)="sendLoginRequest(nameId.value, passwordId.value)">Login
                    </button>
                  </div>
                  <p class="text-center text-white"><a onclick="flip()" href="#">Don't have an
                    account?
                    Sign up here!</a>
                  </p>
                </form>
              </div>
            </div>
            <div class="back">
              <div class="login-form ">
                <form>

                  <h2 class="text-center">Registration</h2>
                  <div id="registerError"></div>
                  <div class="form-row align-items-center">
                    <div class="col-12">
                      <label class="sr-only" for="name">Email</label>
                      <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text"><span class="fa fa-user"></span>
                          </div>
                        </div>
                        <input type="text" class="form-control"
                               placeholder="Username" required="required"
                               id="registerName">
                      </div>
                    </div>
                  </div>
                  <div class="form-row align-items-center">
                    <div class="col-12">
                      <label class="sr-only" for="password">Password</label>
                      <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text"><span class="fa fa-key"></span>
                          </div>
                        </div>
                        <input type="password" class="form-control"
                               placeholder="Password" required="required"
                               id="registerPassword">
                      </div>
                    </div>
                  </div>
                  <div class="form-row align-items-center">
                    <div class="col-12">
                      <label class="sr-only" for="password">Repeat password</label>
                      <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text"><span class="fa fa-key"></span>
                          </div>
                        </div>
                        <input type="password" class="form-control"
                               placeholder="Repeat password" required="required"
                               id="registerPassword2">
                      </div>
                    </div>
                  </div>
                  <div class="form-row align-items-center">
                    <div class="col-12">
                      <label class="sr-only" for="password">Arduino id</label>
                      <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text"><span
                            class="fa fa-id-badge"></span>
                          </div>
                        </div>
                        <input type="text" class="form-control"
                               placeholder="Arduino id" required="required"
                               id="arduinoid">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <button type="button" onclick="register()"
                            class="btn btn-primary btn-lg btn-block">Register
                    </button>
                  </div>
                  <p class="text-center text-white"><a href="#" onclick="flip()">Already member?
                    Click here!</a>
                  </p>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-4">


      </div><!-- /# column -->


    </div>

  </div><!-- .animated -->

</div>


<!--<div class="container">-->
<!--<div [hidden]="submitted">-->
<!--<h1>Login form</h1>-->
<!--<span *ngIf="error">-->
<!--error<br>-->
<!--{{error}}-->
<!--</span>-->

<!--<span *ngIf="doctor">-->
<!--login<br>-->
<!--{{doctor.username}}-->
<!--{{doctor.token}}-->
<!--</span>-->

<!--<form (ngSubmit)="onSubmit()" #heroForm="ngForm">-->
<!--<div class="form-group">-->
<!--<label for="name">Name</label>-->
<!--<input type="text" class="form-control" id="name" #nameId-->
<!--required-->
<!--[(ngModel)]="model.name" name="name"-->
<!--#name="ngModel">-->
<!--<div [hidden]="name.valid || name.pristine"-->
<!--class="alert alert-danger">-->
<!--Name is required-->
<!--</div>-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<label for="alterEgo">Password</label>-->
<!--<input type="password" class="form-control" id="alterEgo"-->
<!--[(ngModel)]="model.alterEgo" name="alterEgo" #passwordId>-->
<!--</div>-->


<!--<button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid"-->
<!--(click)="sendLoginRequest(nameId.value, passwordId.value)">Login-->
<!--</button>-->
<!--&lt;!&ndash;<button type="button" class="btn btn-default" (click)="newHero(); heroForm.reset()">New Hero</button>&ndash;&gt;-->
<!--</form>-->
<!--</div>-->

<!--<div [hidden]="!submitted">-->
<!--<h2>Registration</h2>-->
<!--<div class="row">-->
<!--<div class="col-xs-3">Name</div>-->
<!--<div class="col-xs-9">{{ model.name }}</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-xs-3">Alter Ego</div>-->
<!--<div class="col-xs-9">{{ model.alterEgo }}</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-xs-3">Power</div>-->
<!--<div class="col-xs-9">{{ model.power }}</div>-->
<!--</div>-->
<!--<br>-->
<!--<button class="btn btn-primary" (click)="register=false">Edit</button>-->
<!--</div>-->
<!--</div>-->

<!--<button (click)="signInWithFB()">Login with Facebook</button>-->
<!--<button (click)="signOut()">Log out</button>-->
