<!--<div class="tp-wrapper">-->
<!--<div class="tp-box" (click)="toggleFlip()" [@flipState]="flip">-->
<!--<div class="tp-box__side tp-box__front">Front-->
<!--</div>-->
<!--<div class="tp-box__side tp-box__back">Back-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--obsah stranky-->
<div class="d-none d-lg-block">
  <h1 class="text-center">Smart <span class="fa fa-stethoscope"></span> Doctor</h1>
  <!---->
</div>

<div class="row h-100 p-0">

  <!--mensi stlpec-->
  <div class="col-lg-4">

  </div><!-- /# column -->

  <div class="col-lg-4">
    <div class="tp-wrapper" id="fc">
      <div class="tp-box" [@flipState]="flip">
        <div class="tp-box__side tp-box__front">
          <div class="login-form ">
            <form (ngSubmit)="onSubmit()" #heroForm="ngForm">

              <div class="avatar">
                <img src="assets/avatar.png" alt="Avatar">
              </div>
              <h2 class="text-center">Member Login</h2>
              <div *ngIf="registerMessage && registerMessage.length!=0">{{registerMessage}}</div>
              <div class="alert alert-danger" *ngIf="error">
                <!--<div class="alert alert-danger">-->
                {{error}}
                <!--asdasdasd-->
              </div>
              <div class="form-group">
                <label for="loginEmail">Email</label>

                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-prepend" id="inputGroupPrepend">
                      <div class="input-group-text"><span class="fa fa-envelope"></span>
                      </div>
                    </div>
                  </div>
                  <input type="text" class="form-control" id="loginEmail" placeholder="Email"
                         aria-describedby="inputGroupPrepend" required [(ngModel)]="loginEmail"
                         [ngModelOptions]="{standalone: true}">

                </div>
                <div class="alert alert-danger" *ngIf="loginEmailError">
                  {{loginEmailError}}
                </div>

              </div>
              <div class="form-group">
                <label for="loginPassword">Password</label>

                <div class="input-group mb-2">
                  <div class="input-group-prepend" id="inputPasswordGroupPrepend">
                    <div class="input-group-text"><span class="fa fa-key"></span>
                    </div>
                  </div>
                  <input type="password" class="form-control" id="loginPassword" placeholder="Password"
                         aria-describedby="inputPasswordGroupPrepend" required [(ngModel)]="loginPassword"
                         [ngModelOptions]="{standalone: true}">

                </div>
                <div class="alert alert-danger" *ngIf="loginPasswordError">
                  {{loginPasswordError}}
                </div>

              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block"
                        (click)="sendLoginRequest(loginEmail, loginPassword)">Login
                </button>
              </div>
              <p class="text-center text-white"><a (click)="toggleFlip()">Don't have an
                account?
                Sign up here!</a>
              </p>
            </form>
          </div>
        </div>
        <div class="tp-box__side tp-box__back">
          <div class="login-form ">
            <form>

              <h2 class="text-center">Registration</h2>

              <div class="text-center">
                <button class="btn btn-primary" (click)="registerPatient()">
                  <span class="fa fa-4x fa-user"></span>
                </button>
                &nbsp;
                <button class="btn btn-success" (click)="registerDoctor()">
                  <span class="fa fa-4x fa-stethoscope"></span>

                </button>

              </div>
              <div *ngIf="patientRegistration">
                <h2 class="text-center">
                  Register new patient
                </h2>
                <div class="text-danger" *ngIf="registerError && registerError.length!=0">
                  {{registerError}}
                </div>
                <div *ngIf="registerPatientEmailError !=0" class="text-danger">
                  {{registerPatientEmailError}}
                </div>
                <div class="form-row align-items-center">
                  <div class="col-12">
                    <label class="sr-only" for="name">Email</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><span class="fa fa-envelope"></span>
                        </div>
                      </div>
                      <input type="text" class="form-control"
                             placeholder="Email" required="required"
                             id="registerEmail" [(ngModel)]="registerPatientEmail"
                             [ngModelOptions]="{standalone: true}">
                    </div>
                  </div>
                </div>
                <div *ngIf="registerPatientFirstnameError !=0" class="text-danger">
                  {{registerPatientFirstnameError}}
                </div>
                <div class="form-row align-items-center">
                  <div class="col-12">
                    <label class="sr-only" for="name">Firstname</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><span class="fa fa-user"></span>
                        </div>
                      </div>
                      <input type="text" class="form-control"
                             placeholder="Firstname" required="required"
                             id="registerFirstname" [(ngModel)]="registerPatientFirstname"
                             [ngModelOptions]="{standalone: true}">
                    </div>
                  </div>
                </div>
                <div *ngIf="registerPatientSurnameError !=0" class="text-danger">
                  {{registerPatientSurnameError}}
                </div>
                <div class="form-row align-items-center">
                  <div class="col-12">
                    <label class="sr-only" for="name">Surname</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><span class="fa fa-user"></span>
                        </div>
                      </div>
                      <input type="text" class="form-control"
                             placeholder="Surname" required="required"
                             id="registerSurname" [(ngModel)]="registerPatientSurname"
                             [ngModelOptions]="{standalone: true}">
                    </div>
                  </div>
                </div>
                <div *ngIf="registerPatientAddressError !=0" class="text-danger">
                  {{registerPatientAddressError}}
                </div>
                <div class="form-row align-items-center">
                  <div class="col-12">
                    <label class="sr-only" for="name">Address</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><span class="fa fa-address-book"></span>
                        </div>
                      </div>
                      <input type="text" class="form-control"
                             placeholder="Address" required="required"
                             id="registerAddress" [(ngModel)]="registerPatientAddress"
                             [ngModelOptions]="{standalone: true}">
                    </div>
                  </div>
                </div>
                <div *ngIf="registerPatientCityError !=0" class="text-danger">
                  {{registerPatientCityError}}
                </div>
                <div class="form-row align-items-center">
                  <div class="col-12">
                    <label class="sr-only" for="name">City</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><span class="fa fa-building"></span>
                        </div>
                      </div>
                      <input type="text" class="form-control"
                             placeholder="City" required="required"
                             id="registerCity" [(ngModel)]="registerPatientCity"
                             [ngModelOptions]="{standalone: true}">
                    </div>
                  </div>
                </div>
                <div *ngIf="registerPatientStateError !=0" class="text-danger">
                  {{registerPatientStateError}}
                </div>
                <div class="form-row align-items-center">
                  <div class="col-12">
                    <label class="sr-only" for="name">State</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><span class="fa fa-flag"></span>
                        </div>
                      </div>
                      <input type="text" class="form-control"
                             placeholder="State" required="required"
                             id="registerState" [(ngModel)]="registerPatientState"
                             [ngModelOptions]="{standalone: true}">
                    </div>
                  </div>
                </div>
                <div *ngIf="registerPatientPasswordError !=0" class="text-danger">
                  {{registerPatientPasswordError}}
                </div>
                <div class="form-row align-items-center">
                  <div class="col-12">
                    <label class="sr-only" for="registerPassword">Password</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><span class="fa fa-key"></span>
                        </div>
                      </div>
                      <input type="password" class="form-control"
                             placeholder="Password" required="required"
                             id="registerPassword" [(ngModel)]="registerPatientPassword"
                             [ngModelOptions]="{standalone: true}">
                    </div>
                  </div>
                </div>
                <div *ngIf="registerPatientPassword2Error !=0" class="text-danger">
                  {{registerPatientPassword2Error}}
                </div>
                <div class="form-row align-items-center">
                  <div class="col-12">
                    <label class="sr-only" for="registerPassword2">Repeat password</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><span class="fa fa-key"></span>
                        </div>
                      </div>
                      <input type="password" class="form-control"
                             placeholder="Repeat password" required="required"
                             id="registerPassword2" [(ngModel)]="registerPatientPassword2"
                             [ngModelOptions]="{standalone: true}">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <button type="button" (click)="submitPatientRegistration()"
                          class="btn btn-primary btn-lg btn-block">Register
                  </button>
                </div>
              </div>

              <div *ngIf="!patientRegistration">
                <h2 class="text-center">
                  Register new Doctor
                </h2>
                <div class="text-danger" *ngIf="registerError && registerError.length!=0">
                  {{registerError}}
                </div>
                <div *ngIf="registerDoctorEmailError !=0" class="text-danger">
                  {{registerDoctorEmailError}}
                </div>
                <div class="form-row align-items-center">
                  <div class="col-12">
                    <label class="sr-only" for="name">Email</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><span class="fa fa-envelope"></span>
                        </div>
                      </div>
                      <input type="text" class="form-control"
                             placeholder="Email" required="required"
                             id="registerEmail" [(ngModel)]="registerDoctorEmail"
                             [ngModelOptions]="{standalone: true}">
                    </div>
                  </div>
                </div>
                <div *ngIf="registerDoctorFirstnameError !=0" class="text-danger">
                  {{registerDoctorFirstnameError}}
                </div>
                <div class="form-row align-items-center">
                  <div class="col-12">
                    <label class="sr-only" for="name">Firstname</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><span class="fa fa-user"></span>
                        </div>
                      </div>
                      <input type="text" class="form-control"
                             placeholder="Firstname" required="required"
                             id="registerFirstname" [(ngModel)]="registerDoctorFirstname"
                             [ngModelOptions]="{standalone: true}">
                    </div>
                  </div>
                </div>
                <div *ngIf="registerDoctorSurnameError !=0" class="text-danger">
                  {{registerDoctorSurnameError}}
                </div>
                <div class="form-row align-items-center">
                  <div class="col-12">
                    <label class="sr-only" for="name">Surname</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><span class="fa fa-user"></span>
                        </div>
                      </div>
                      <input type="text" class="form-control"
                             placeholder="Surname" required="required"
                             id="registerSurname" [(ngModel)]="registerDoctorSurname"
                             [ngModelOptions]="{standalone: true}">
                    </div>
                  </div>
                </div>
                <div *ngIf="registerDoctorAddressError !=0" class="text-danger">
                  {{registerDoctorAddressError}}
                </div>
                <div class="form-row align-items-center">
                  <div class="col-12">
                    <label class="sr-only" for="name">Address</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><span class="fa fa-address-book"></span>
                        </div>
                      </div>
                      <input type="text" class="form-control"
                             placeholder="Address" required="required"
                             id="registerAddress" [(ngModel)]="registerDoctorAddress"
                             [ngModelOptions]="{standalone: true}">
                    </div>
                  </div>
                </div>
                <div *ngIf="registerDoctorCityError !=0" class="text-danger">
                  {{registerDoctorCityError}}
                </div>
                <div class="form-row align-items-center">
                  <div class="col-12">
                    <label class="sr-only" for="name">City</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><span class="fa fa-building"></span>
                        </div>
                      </div>
                      <input type="text" class="form-control"
                             placeholder="City" required="required"
                             id="registerCity" [(ngModel)]="registerDoctorCity"
                             [ngModelOptions]="{standalone: true}">
                    </div>
                  </div>
                </div>
                <div *ngIf="registerDoctorStateError !=0" class="text-danger">
                  {{registerDoctorStateError}}
                </div>
                <div class="form-row align-items-center">
                  <div class="col-12">
                    <label class="sr-only" for="name">State</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><span class="fa fa-flag"></span>
                        </div>
                      </div>
                      <input type="text" class="form-control"
                             placeholder="State" required="required"
                             id="registerState" [(ngModel)]="registerDoctorState"
                             [ngModelOptions]="{standalone: true}">
                    </div>
                  </div>
                </div>
                <div *ngIf="registerDoctorPasswordError !=0" class="text-danger">
                  {{registerDoctorPasswordError}}
                </div>
                <div class="form-row align-items-center">
                  <div class="col-12">
                    <label class="sr-only" for="registerPassword">Password</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><span class="fa fa-key"></span>
                        </div>
                      </div>
                      <input type="password" class="form-control"
                             placeholder="Password" required="required"
                             id="registerPassword" [(ngModel)]="registerDoctorPassword"
                             [ngModelOptions]="{standalone: true}">
                    </div>
                  </div>
                </div>
                <div *ngIf="registerDoctorPassword2Error !=0" class="text-danger">
                  {{registerDoctorPassword2Error}}
                </div>
                <div class="form-row align-items-center">
                  <div class="col-12">
                    <label class="sr-only" for="registerPassword2">Repeat password</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><span class="fa fa-key"></span>
                        </div>
                      </div>
                      <input type="password" class="form-control"
                             placeholder="Repeat password" required="required"
                             id="registerPassword2" [(ngModel)]="registerDoctorPassword2"
                             [ngModelOptions]="{standalone: true}">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <button type="button" (click)="submitDoctorRegistration()"
                          class="btn btn-success btn-lg btn-block">Register
                  </button>
                </div>
              </div>

              <p class="text-center text-white"><a (click)="toggleFlip()">Already member?
                Click here!</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-lg-4">


  </div><!-- /# column -->


</div>


<!--<div class="container">-->
<!--<div [hidden]="submitted">-->
<!--<h1>Login form</h1>-->
<!--<span *ngIf="error">-->
<!--error<br>-->
<!--{{error}}-->
<!--</span>-->

<!--<span *ngIf="doctor">-->
<!--login<br>-->
<!--{{doctor.username}}-->
<!--{{doctor.token}}-->
<!--</span>-->

<!--<form (ngSubmit)="onSubmit()" #heroForm="ngForm">-->
<!--<div class="form-group">-->
<!--<label for="name">Name</label>-->
<!--<input type="text" class="form-control" id="name" #nameId-->
<!--required-->
<!--[(ngModel)]="model.name" name="name"-->
<!--#name="ngModel">-->
<!--<div [hidden]="name.valid || name.pristine"-->
<!--class="alert alert-danger">-->
<!--Name is required-->
<!--</div>-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<label for="alterEgo">Password</label>-->
<!--<input type="password" class="form-control" id="alterEgo"-->
<!--[(ngModel)]="model.alterEgo" name="alterEgo" #passwordId>-->
<!--</div>-->


<!--<button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid"-->
<!--(click)="sendLoginRequest(nameId.value, passwordId.value)">Login-->
<!--</button>-->
<!--&lt;!&ndash;<button type="button" class="btn btn-default" (click)="newHero(); heroForm.reset()">New Hero</button>&ndash;&gt;-->
<!--</form>-->
<!--</div>-->

<!--<div [hidden]="!submitted">-->
<!--<h2>Registration</h2>-->
<!--<div class="row">-->
<!--<div class="col-xs-3">Name</div>-->
<!--<div class="col-xs-9">{{ model.name }}</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-xs-3">Alter Ego</div>-->
<!--<div class="col-xs-9">{{ model.alterEgo }}</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-xs-3">Power</div>-->
<!--<div class="col-xs-9">{{ model.power }}</div>-->
<!--</div>-->
<!--<br>-->
<!--<button class="btn btn-primary" (click)="register=false">Edit</button>-->
<!--</div>-->
<!--</div>-->

<!--<button (click)="signInWithFB()">Login with Facebook</button>-->
<!--<button (click)="signOut()">Log out</button>-->
