<div class="card">
  <div class="card-body">
    <div class="text-center">
      <h5 class="card-title">Opening hours</h5>
      <table class="align-middle">
        <tr>
          <td>
            Mon
          </td>
          <td>
            10:00
          </td>
          <td>
            -
          </td>
          <td>
            15:00
          </td>
          <td>
            <span class="ml-1 fa fa-pencil"></span>
          </td>
        </tr>
        <tr>
          <td>
            Tue
          </td>
          <td>
            10:00
          </td>
          <td>
            -
          </td>
          <td>
            15:00
          </td>
          <td>
            <span class="ml-1 fa fa-pencil"></span>
          </td>
        </tr>
        <tr>
          <td>
            Wed
          </td>
          <td>
            10:00
          </td>
          <td>
            -
          </td>
          <td>
            15:00
          </td>
          <td>
            <span class="ml-1 fa fa-pencil"></span>
          </td>
        </tr>
        <tr>
          <td>
            Thu
          </td>
          <td>
            10:00
          </td>
          <td>
            -
          </td>
          <td>
            15:00
          </td>
          <td>
            <span class="ml-1 fa fa-pencil"></span>
          </td>
        </tr>
        <tr>
          <td>
            Fri
          </td>
          <td>
            10:00
          </td>
          <td>
            -
          </td>
          <td>
            15:00
          </td>
          <td>
            <span class="ml-1 fa fa-pencil"></span>
          </td>
        </tr>
        <tr>
          <td>
            Sat
          </td>
          <td>
            10:00
          </td>
          <td>
            -
          </td>
          <td>
            15:00
          </td>
          <td>
            <span class="ml-1 fa fa-pencil"></span>
          </td>
        </tr>
        <tr>
          <td>
            Sun
          </td>
          <td>
            10:00
          </td>
          <td>
            -
          </td>
          <td>
            15:00
          </td>
          <td>
            <span class="ml-1 fa fa-pencil"></span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
