@import '~open-iconic/font/css/open-iconic-bootstrap.css';

body {
  color: #fff;
  /*background-image: linear-gradient(to right, #285238, #c3d6ae, #285238);*/
  /*background-color: #d9dd92;*/
  background-color: white;
}

.btn-success {
  color: #fff;
  background-color: #ece4b7;
  border-color: #e3d26f;
}

.btn-success:hover {
  color: #fff;
  background-color: #ede580;
  border-color: #0062cc;
}

.bg-my-secondary-patent {
  background-color: #8184b5 !important;
  /*background-color: #885053 !important;*/
}

.bg-my-primary-patient {
  background-color: #52489c !important;
  /*background-color: #69353f !important;*/
}

.bg-my-secondary-doctor {
  background-color: #885053 !important;
}

.bg-my-primary-doctor {
  background-color: #69353f !important;
}

.btn-success, .btn-success:active, .btn-success:visited {
  background-color: #885053 !important;
  border-color: #885053 !important;
}

.btn-success:hover {
  background-color: #69353f !important;
  border-color: #69353f !important;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
  background-color: #8184b5 !important;
  border-color: #8184b5 !important;
  /*border-color: #8184b5;*/
}

.btn-primary:hover {
  background-color: #52489c !important;
  border-color: #52489c !important;
}

.card, .btn {
  border-radius: .50rem !important
}

.nadpis {
  /*color: #FFFFFF;*/
  /*background: #232323;*/
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #d9d9d9, 0 0 30px #d9d9d9, 0 0 40px #d9d9d9;
  /*color: #FFFFFF;*/
  /*background: #232323;*/
}

.navbar-login {
  width: 305px;
  padding: 10px;
  padding-bottom: 0px;
}

.navbar-login-session {
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.icon-size {
  font-size: 87px;
}
