<!--zakladny component na stranke, navigacne menu-->
<header>
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-my-primary-patient" *ngIf="patient">
  <span class="navbar-brand log-cursor nadpis">Smart
<span class="fa fa-stethoscope"></span> Doctor</span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
              aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" *ngIf="patient" routerLink="/patient-home"> <span
              class="fa fa-home"></span><span>&nbsp;Home</span><span
              class="sr-only">(current)</span></a>
            <a class="nav-link" *ngIf="doctor" routerLink="/doctor-home"> <span
              class="fa fa-home"></span><span>&nbsp;Home</span><span
              class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="patient" routerLink="/my-doctor"><span
              class="fa fa-check"></span><span>&nbsp;My doctors</span></a>
            <a class="nav-link" *ngIf="doctor" routerLink="/my-patient"><span
              class="fa fa-check"></span><span>&nbsp;My patients</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="patient" routerLink="/patient-waiting-room"><span
              class="fa fa-user"></span><span>&nbsp;Waiting room</span></a>
            <a class="nav-link" *ngIf="doctor" routerLink="/doctor-waiting-room"><span
              class="fa fa-user"></span><span>&nbsp;Waiting room</span></a>
          </li>
          <!--<li class="nav-item">-->
          <!--<a class="nav-link" *ngIf="patient" routerLink="/patient-settings"><span-->
          <!--class="fa fa-wrench"></span><span>&nbsp;Settings</span></a>-->
          <!--<a class="nav-link" *ngIf="doctor" routerLink="/doctor-settings"><span-->
          <!--class="fa fa-wrench"></span><span>&nbsp;Settings</span></a>-->
          <!--</li>-->
        </ul>
        <ul class="nav  navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <span class="fa fa-user"></span> 
              <strong>{{patient.firstname}}</strong>
              <!--<span class="fa fa-chevron-down"></span>-->
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li>
                <div class="navbar-login">
                  <div class="row">
                    <div class="col-lg-4">
                      <img class="img-fluid h-75 ml-3 mt-2" src="assets/zena.jpg" alt="photo">
                    </div>
                    <div class="col-lg-8">
                      <p class="text-left"><strong>{{patient.firstname}} {{patient.surname}}</strong></p>
                      <p class="text-left small">{{patient.email}}</p>
                      <p class="text-left">
                        <a class="btn btn-primary btn-block btn-sm" routerLink="/patient-settings">Settings</a>
                      </p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="divider"></li>
              <li>
                <div class="navbar-login navbar-login-session">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>
                        <a href="#" (click)="logout()" class="btn btn-primary btn-block"><span
                          class="fa fa-sign-out "></span>
                          Logout</a>
                      </p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>


        <!--<div class="nav-item text-white" *ngIf="patient">-->
        <!--{{patient.firstname}} {{patient.surname}}-->
        <!--</div>-->
        <!--<div class="nav-item text-white" *ngIf="doctor">-->
        <!--{{doctor.firstname}} {{doctor.surname}}-->
        <!--</div>-->
        <!--<div class="nav-item text-white" *ngIf="doctor">je to doctor</div>-->
        <!--<div class="nav-item text-white" *ngIf="doctor">je to doctor</div>-->
        <!--<div class="navbar-brand" *ngIf="loggedIn">{{user.name}}</div>-->
        <!--<img class="navbar-brand" *ngIf="loggedIn" src="{{ user.photoUrl }}">-->


        <!--<a class="nav-link text-white" href="#" (click)="logout()"><span-->
        <!--class="fa fa-sign-out-alt"></span><span>&nbsp;Logout</span></a>-->

      </div>
    </nav>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-my-primary-doctor" *ngIf="doctor">
    <span class="navbar-brand log-cursor">Smart
<span class="fa fa-stethoscope"></span> Doctor</span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
              aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" *ngIf="patient" routerLink="/patient-home"> <span
              class="fa fa-home"></span><span>&nbsp;Home</span><span
              class="sr-only">(current)</span></a>
            <a class="nav-link" *ngIf="doctor" routerLink="/doctor-home"> <span
              class="fa fa-home"></span><span>&nbsp;Home</span><span
              class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="patient" routerLink="/my-doctor"><span
              class="fa fa-check"></span><span>&nbsp;My doctors</span></a>
            <a class="nav-link" *ngIf="doctor" routerLink="/my-patient"><span
              class="fa fa-check"></span><span>&nbsp;My patients</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="patient" routerLink="/patient-waiting-room"><span
              class="fa fa-user"></span><span>&nbsp;Waiting room</span></a>
            <a class="nav-link" *ngIf="doctor" routerLink="/doctor-waiting-room"><span
              class="fa fa-user"></span><span>&nbsp;Waiting room</span></a>
          </li>
          <!--<li class="nav-item">-->
          <!--<a class="nav-link" *ngIf="patient" routerLink="/patient-settings"><span-->
          <!--class="fa fa-wrench"></span><span>&nbsp;Settings</span></a>-->
          <!--<a class="nav-link" *ngIf="doctor" routerLink="/doctor-settings"><span-->
          <!--class="fa fa-wrench"></span><span>&nbsp;Settings</span></a>-->
          <!--</li>-->
        </ul>


        <ul class="nav  navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <span class="fa fa-user"></span> 
              <strong>{{doctor.firstname}}</strong>
              <!--<span class="fa fa-chevron-down"></span>-->
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li>
                <div class="navbar-login">
                  <div class="row">
                    <div class="col-lg-4">
                      <img class="img-fluid h-75 ml-3 mt-2" src="assets/doctor.jpg" alt="photo">
                    </div>
                    <div class="col-lg-8">
                      <p class="text-left"><strong>{{doctor.firstname}} {{doctor.surname}}</strong></p>
                      <p class="text-left small">{{doctor.email}}</p>
                      <p class="text-left">
                        <a class="btn btn-success btn-block btn-sm" routerLink="/doctor-settings">Settings</a>
                      </p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="divider"></li>
              <li>
                <div class="navbar-login navbar-login-session">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>
                        <a href="#" (click)="logout()" class="btn btn-success btn-block text-white"><span
                          class="fa fa-sign-out "></span>
                          Logout</a>
                      </p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>


        <!--<div class="nav-item text-white" *ngIf="patient">-->
        <!--{{patient.firstname}} {{patient.surname}}-->
        <!--</div>-->
        <!--<div class="nav-item text-white" *ngIf="doctor">-->
        <!--{{doctor.firstname}} {{doctor.surname}}-->
        <!--</div>-->
        <!--<div class="nav-item text-white" *ngIf="doctor">je to doctor</div>-->
        <!--<div class="nav-item text-white" *ngIf="doctor">je to doctor</div>-->
        <!--<div class="navbar-brand" *ngIf="loggedIn">{{user.name}}</div>-->
        <!--<img class="navbar-brand" *ngIf="loggedIn" src="{{ user.photoUrl }}">-->


        <!--<a class="nav-link text-white" href="#" (click)="logout()"><span-->
        <!--class="fa fa-sign-out-alt"></span><span>&nbsp;Logout</span></a>-->

      </div>
    </nav>
  </div>
</header>

<main role="main" class="flex-shrink-0">
  <div class="container">
    <router-outlet></router-outlet>

  </div>
</main>


<!--</div>-->
<!--<div class="footer fixed-bottom bg-dark text-center text-white">-->
<!--</div>-->
<footer class="footer fixed-bottom py-3 bg-my-primary-patient text-center" *ngIf="patient">
  <div class="container">
    <span class="text-white">
      Smart Doctor<br> Oleksandra Musatkina &copy; 2019
    </span>
  </div>
</footer>

<footer class="footer fixed-bottom py-3 bg-my-primary-doctor text-center" *ngIf="doctor">
  <div class="container">
    <span class="text-white">
      Smart Doctor<br> Oleksandra Musatkina &copy; 2019
    </span>
  </div>
</footer>

