 <!--zakladny component na stranke, navigacne menu-->
<nav>
  <a routerLink="/login" routerLinkActive="active">Login</a>
  &nbsp;
  <a routerLink="/my-doctor" routerLinkActive="active">My doctor</a>
  &nbsp;
  <a routerLink="/my-patient" routerLinkActive="active">My patient</a>
  &nbsp;
  <a routerLink="/doctor-home" routerLinkActive="active">Home - doctor</a>
  &nbsp;
  <a routerLink="/patient-home" routerLinkActive="active">Home - Patient</a>
  &nbsp;
  <a routerLink="/doctor-settings" routerLinkActive="active">Settings - Doctor</a>
  &nbsp;
  <a routerLink="/patient-settings" routerLinkActive="active">Settings - Patient</a>
  &nbsp;
  <a routerLink="/doctor-waiting-room" routerLinkActive="active">Waiting room - Doctor</a>
  &nbsp;
  <a routerLink="/patient-waiting-room" routerLinkActive="active">Waiting room - Patient</a>
</nav>
<!--<div [@routeAnimation]="getAnimationData(routerOutlet)">-->
<!--<router-outlet #routerOutlet="outlet"></router-outlet>-->
<router-outlet></router-outlet>
<!--</div>-->
