<div class="card  m-3 rounded h-25 w-75">
  <div class="card-header bg-my-secondary-patent text-white">
    Pending examinations
  </div>
  <div class="card-body overflow-auto">
    <div *ngIf="patient.drugs">
      <!--<div *ngFor="let drug of doctor.drugs">-->
      <!--{{drug.name}}-->
      <!--<span *ngIf="drug.times">-->
      <!--,-->
      <!--<span *ngFor="let time of drug.times">-->
      <!--{{time}}-->
      <!--</span>-->
      <!--</span>-->
      <!--<span *ngIf="!drug.times">-->
      <!--<button type="button" class="btn btn-primary" data-toggle="modal"-->
      <!--data-target="#exampleModalCenter" (click)="onClick($event)">set times</button>-->
      <!--</span>-->

      <!--</div>-->

      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let exam of examinations">
          <span>
            <span>

          Zaznam - {{exam.type}} <br> {{exam.date}}<br>
              <span *ngIf="exam.doctordata">
              {{exam.doctordata.firstname}} {{exam.doctordata.surname}} - {{exam.doctordata.address}}, {{exam.doctordata.city}}

              </span>

            </span>
            <!--<span class="fa fa-3x fa-file-pdf-o float-right"></span>-->
          </span>
        </li>
        <!--<li class="list-group-item">Vysetrenie - vseobecny lekar<br> Pondelok 20.05.2019 - 10:50<br>Mudr. Novy - Jesenna-->
        <!--5, Koisce-->
        <!--</li>-->
        <!--<li class="list-group-item">Vysetrenie - preventivna prehliatka zubar<br> Utorok 20.06.2019 - 7:15<br>Mudr.-->
        <!--Zubar - Nova nemocnica, Koisce-->
        <!--</li>-->
        <!--<li class="list-group-item">Vysetrenie - gastro<br> Pondelok 12.08.2019 - 13:50<br>Mudr. Stary - Jarna-->
        <!--5, Koisce-->
        <!--</li>-->
      </ul>
      <!--<button type="button" class="btn btn-success float-right rounded-circle m-3" data-toggle="modal"-->
              <!--(click)="onClick($event)"><span class="fa fa-plus"></span>Add-->
      <!--</button>-->
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<!-- The Modal -->
<div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Set times for drugs:</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="hide()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <p>Enter times here</p>
        <input type="text" name="fname"><br>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="hide()">Save</button>
      </div>

    </div>
  </div>
</div>

