<main role="main" class="container">
  <br>
  <br>
  <br>
  <br>
  <div class="content">
    <div class="animated fadeIn">
      <div class="row">
        <div id="error"></div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="card" *ngIf="ticket">
            <div class="card-header">
              Operate tickets
            </div>
            <!--<img class="card-img-top" src="assets/vseobecna.jpg" alt="Card image cap">-->
            <div class="card-body text-center" *ngIf="ticket.status=='open'">
              <p class="card-text">Your ticket system is now running. You can close it any time</p>
              <button class="btn btn-primary" (click)="closeTicketSystem()"> Close</button>
            </div>
            <div class="card-body text-center" *ngIf="ticket.status=='closed'">
              <p class="card-text">Your ticket system is now closed. You can open it any time</p>
              <button class="btn btn-primary" (click)="openTicketSystem()"> Open</button>
            </div>
          </div>


        </div>
        <div class="col-4">
          <div class="card" *ngIf="ticket">
            <div class="card-header">
              Ticket status
            </div>
            <!--<img class="card-img-top" src="assets/vseobecna.jpg" alt="Card image cap">-->
            <div class="card-body text-center" *ngIf="ticket.status=='open'">
              <p class="card-text"></p>
              <h1>{{ticket.lastnumber}}</h1>
              <p class="card-text">Assigned numbers: {{ticket.patients.length}}</p>
              <h4>Estimated end in {{(ticket.patients.length - ticket.lastnumber)*ticket.estimatedpatienttime}}
                minutes</h4>

            </div>
            <div class="card-body text-center" *ngIf="ticket.status=='closed'">
              <p class="card-text">Ticket status is only available while system is opened</p>
            </div>
          </div>


        </div>
        <div class="col-4">
          <div class="card" *ngIf="ticket">
            <div class="card-header">
              Manage patients
            </div>
            <!--<img class="card-img-top" src="assets/vseobecna.jpg" alt="Card image cap">-->
            <div class="card-body text-center" *ngIf="ticket.status=='open'">
              <p class="card-text">Your ticket system is now running. You can call next patient</p>
              <button class="btn btn-primary" (click)="callNextTicketSystem()"> Call next</button>
              <p class="card-text">{{callNextError}}</p>

            </div>
            <div class="card-body text-center" *ngIf="ticket.status=='closed'">
              <p class="card-text">Managing patients is only available while system is opened</p>
            </div>
          </div>


        </div>


      </div>


    </div>
  </div>
</main>


<!--<div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">-->
<!--<div class="modal-dialog">-->
<!--<div class="modal-content">-->

<!--&lt;!&ndash; Modal Header &ndash;&gt;-->
<!--<div class="modal-header">-->
<!--<h4 class="modal-title">Choose doctor</h4>-->
<!--<button type="button" class="close" data-dismiss="modal" (click)="hide()">&times;</button>-->
<!--</div>-->

<!--&lt;!&ndash; Modal body &ndash;&gt;-->
<!--<div class="modal-body">-->
<!--<div class="row" *ngIf="ticket.length != 0">-->
<!--<div class="col-6" *ngFor="let doctor of ticket">-->
<!--<p>{{doctor.firstname}}</p>-->
<!--<p>{{doctor.surname}}</p>-->
<!--<p (click)="requestTicket(doctor._id)">{{doctor._id}}</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row" *ngIf="ticket.length == 0">-->
<!--There are no doctors-->
<!--</div>-->


<!--</div>-->


<!--</div>-->
<!--</div>-->
<!--</div>-->


<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<div class="row">-->
<!--<div class="col-4"></div>-->
<!--<div class="col-4">-->
<!--<div class="row justify-content-center">-->
<!--<app-petient-waitingroom-info></app-petient-waitingroom-info>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-4"></div>-->
<!--</div>-->
