<div class="row">
  <div id="error"></div>
</div>
<div class="row">
  <div class="col-lg-8 col-12">
    <div class="row" *ngIf="myDoctors.length != 0">
      <div class="col-lg-6 col-12" *ngFor="let doc of myDoctors">
        <app-doctor [doctor]="doc" [showDetails]="true"></app-doctor>
      </div>
    </div>
    <div *ngIf="myDoctors.length == 0">
      <div class="card shadow-lg">
        <div class="card-header bg-my-secondary-patent text-white">
          Doctors
        </div>
        <div class="card-body">
          <div class="card-text">
            You do not have any doctors.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-12">
    <button class="btn  btn-primary rounded shadow-lg w-100" (click)="onClick($event)"><span
      class="fa fa-plus"> Add doctor</span></button>
    <app-notification-panel></app-notification-panel>
  </div>
</div>


<div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Choose doctor</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="hide()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row" *ngIf="notMyDoctors.length != 0">
          <div class="col-6" *ngFor="let doctor of notMyDoctors">
            <div class="card" (click)="addDoctor(doctor._id)">
              <div class="card-header bg-my-secondary-patent text-white">
                {{doctor.firstname}} {{doctor.surname}}
              </div>
              <div class="card-body">
                <div class="card-text">
                  {{doctor.email}}
                  {{doctor.address}}
                  {{doctor.city}}
                  {{doctor.state}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="notMyDoctors.length == 0">
          There are no another doctors
        </div>


      </div>


    </div>
  </div>
</div>

