<div class="card shadow-lg m-3 h-50">
  <div
    [ngClass]="(isPatient)?'card-header bg-my-secondary-patent text-white':'card-header bg-my-secondary-doctor text-white'">
    Notifications
  </div>
  <div class="card-body overflow-auto">
    <ul class="list-unstyled" *ngFor="let noti of notifications">
      <li class="media" (click)="onClick(noti)">
        <!--<img src="..." class="mr-3" alt="...">-->
        <div class="fa fa-4x fa-check mr-2"></div>
        <div class="media-body">
          <h5 class="mt-0 mb-1">{{noti.heading}}</h5>

          <div *ngIf="noti.eventdate">date: {{noti.eventdate}}</div>
          <div *ngIf="!noti.eventdate">date: {{noti.dateadded}}</div>
          <div *ngIf="noti['userdata']">from: {{noti['userdata'].firstname}} {{noti.userdata.surname}}</div>
          <!--<p>from: {{noti['userdata'].firstname}}-->
          <!--{{noti.userdata.surname}}-->
          <!--</p>-->
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
  <div class="modal-dialog" *ngIf="modalNotification">
    <div class="modal-content" *ngIf="modalNotification.type=='request'">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Request - {{modalNotification.heading}}</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="hide()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col">

            <h4>You have an request from {{modalNotification.userdata.firstname}}
              {{modalNotification.userdata.surname}}</h4>
            <p>{{modalNotification.message}}</p>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button"
                [ngClass]="(isPatient)?'btn btn-primary float-left':'btn btn-success float-left'"
                data-dismiss="modal"
                (click)="decline(modalNotification)">Decline
        </button>
        <button type="button"
v                [ngClass]="(isPatient)?'btn btn-primary':'btn btn-success'"

                data-dismiss="modal" (click)="accept(modalNotification)">
          Accept
        </button>
      </div>

    </div>
    <div class="modal-content" *ngIf="modalNotification.type=='info'">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Info - {{modalNotification.heading}}</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="hide()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col">

            <h4>You have an notification from {{modalNotification.userdata.firstname}}
              {{modalNotification.userdata.surname}}</h4>
            <p>{{modalNotification.message}}</p>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button"
                [ngClass]="(isPatient)?'btn btn-primary float-left':'btn btn-success float-left'"
                data-dismiss="modal"
                (click)="dismisNotification(modalNotification._id)">Dismiss
          notification
        </button>
      </div>

    </div>
  </div>
</div>

